<?xml version="1.0" encoding="utf-8" ?>
<!--
  Created by the MSL-LoadLib package.

  By default, applications that target the .NET Framework version 4.0+ cannot load
  assemblies from older .NET Framework versions. You must create and modify the
  <app>.config file and set the useLegacyV2RuntimeActivationPolicy property to be
  "true" for the application to load an assembly from .NET < 4.0.

  For Python.NET to load an assembly from .NET < 4.0, this corresponds to creating
  a python.exe.config (Windows) or python.config (Linux) configuration file that
  is saved in the same directory as the executable.

  See https://support.microsoft.com/kb/2572158 for more information about the
  "Mixed mode assembly" error.
-->
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" />
        <supportedRuntime version="v2.0.50727" />
    </startup>
</configuration>
