name: CI

on: [push, pull_request]

env:
  PY_COLORS: 1
  COLUMNS: 110
  PIP_DISABLE_PIP_VERSION_CHECK: 1

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [windows-latest, ubuntu-22.04, macos-14, macos-13]
        architecture: [x64, x86]
        exclude:
          - os: ubuntu-22.04
            architecture: x86
          - os: macos-14
            architecture: x86
          - os: macos-13
            architecture: x86
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install system dependencies (Ubuntu)
        if: ${{ matrix.os == 'ubuntu-22.04' }}
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install -y libgfortran5:i386
      - name: Mono version (non Windows)
        if: ${{ matrix.os != 'windows-latest' }}
        run: mono --version
      - name: Java version
        run: java -version
      - name: Set up Python ${{ matrix.python-version }} (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.architecture }}
      - name: Set up Python ${{ matrix.python-version }} (non Windows)
        if: ${{ matrix.os != 'windows-latest' }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip
        run: python -m pip install --upgrade pip
      - name: Install test dependencies
        run: python -m pip install "comtypes;sys_platform=='win32'" py4j numpy pytest pytest-cov
      - name: Install pythonnet
        if: ${{ matrix.python-version != '3.14' }}
        run: python -m pip install pythonnet
      - name: Build custom wheels
        run: |
          python -m pip install --upgrade hatch
          hatch build --target custom
      - name: Install package from custom-built wheel
        run: python -m pip install --find-links dist --no-index msl-loadlib
      - name: Run tests
        run: python -m pytest

  lint:
    name: Lint
    runs-on: windows-latest
    env:
      MYPYPATH: src
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false
          python-version: '3.14'
      - name: Spelling
        uses: streetsidesoftware/cspell-action@v8
        with:
          incremental_files_only: false
      - name: Linting
        run: uv run -- ruff check --force-exclude --no-fix .
      - name: Formatting
        run: uv run -- ruff format --force-exclude --check .
      - name: Typing:BasedPyright
        run: uv run -- basedpyright .
      - name: Typing:MyPy
        run: uv run -- mypy .
